body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('images/king\ cat.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    font-family: 'Roboto', sans-serif; /* Apply the new font */
}

ul.social-icons {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    gap: 10px;
}

ul.social-icons li a {
    text-decoration: none;
    color: rgb(209, 226, 86);
    font-size: 24px;
    transition: color 0.3s;
}

ul.social-icons li a:hover {
    color: #ff9800;
}

.image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px; /* Adjust the margin as needed */
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-text {
    margin-top: 10px; /* Adjust the margin as needed */
    font-size: 18px; /* Adjust the font size as needed */
    color: #ffffff; /* Adjust the color as needed */
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Apply the new font */
}

#popping-images-container img {
    position: absolute;
    width: 100px; /* Adjust the size as needed */
    height: auto;
    opacity: 0;
    animation: popUp 1s ease-in-out infinite;
}

@keyframes popUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
