body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    background-image: url('12.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.animated-title {
    font-size: 3em;
    color: white;
    text-align: center;
    animation: fadeIn 2s ease-in-out infinite alternate;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.social-icons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.social-icons a {
    color: white;
    font-size: 2em;
    margin-left: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ccc;
}
